<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>NexTV</title>
	<link href="base.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700" rel="stylesheet">
</head>
<body>
<div>
<header>
	<ul id="navigation">
		<li><a href="/today">All TV Shows</a></li>
		<li><a href="/mytvshows">My Shows</a></li>
	</ul>
</header>
	{{{body}}}
</div>
</body>
</html>