<script src="/javascripts/themoviedb.js"></script>
<script>
	var showsArr = [];
	var string = [];
	var str = '';

	//calculate today's date
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1;
	var yyyy = today.getFullYear();
	if(dd<10) { dd = '0'+dd; }
	if(mm<10) { mm = '0'+mm; }
	today = yyyy + '-' + mm + '-' + dd;

	theMovieDb.tv.getOnTheAir({page:1}, (shows) => {
		var tvshows = JSON.parse(shows);
		showsArr = tvshows.results;
		showsArr.forEach((show) => {
			var id = show.id;
			theMovieDb.tv.getById({id}, (data) => {
				var s = JSON.parse(data);
				var curSeason = s.seasons[s.seasons.length-1].season_number;
				var numEps = s.seasons[s.seasons.length-1].episode_count;
				theMovieDb.tvSeasons.getById({id:id, season_number:curSeason}, (season) => {
					var szn = JSON.parse(season);
					var nextEp;
					for(var i=0; i<szn.episodes.length; i++) {
						var date = szn.episodes[i]["air_date"].split('-');
						if(Number(date[1]) >= Number(mm)) { //compare month
							if(Number(date[2]) >= Number(dd)) { //compare day
								nextEp = szn.episodes[i];
								break;
							}
						}
					}
					var epData = '<strong>' + s.name + '</strong> ' + curSeason + 'x' + nextEp["episode_number"] + ' airs on ' + nextEp["air_date"];
					var newDiv = document.createElement('div');
					newDiv.id = s.name;
					newDiv.innerHTML = epData;
					document.querySelector('#body').appendChild(newDiv);
					var img = new Image();
					img.onload = () => { newDiv.appendChild(img); }
					img.src = 'https://image.tmdb.org/t/p/w185/' + s.poster_path;
					img.className = 'img-responsive';
				}, (error) => {console.log(error)});
			}, (error) => {console.log(error)});
		});
	}, (error) => {console.log(error)});
</script>

<div>
<h1>On Air</h1>
</div>