<div id="login">
<h1>Create an Account</h1>
{{#if error}} <p id="error">Error: {{error}}</p> {{/if}}
<form method="POST" action="">
	<p class="message">Pick a username:</p>
	<input type="text" name="username" placeholder="username">
	<p class="message">Choose a password (must be more than 7 characters):</p>
	<input type="password" name="password" placeholder="password">
	<br><input type="submit" value="Register">
</form>
<p class="message">Already have an account? <a href="/">Sign in!</a></p>
</div>