<!-- 
<div id="login" class="col-sm-6 col-sm-offset-3">
	<h1>Sign In</h1>
	{{#if error}} <p id="error" class="bg-danger"><strong>Error:</strong> {{error}}</p> {{/if}}
	<form method="POST" action="">
		<div class="form-group row">
			<label for="username" class="col-sm-2 col-form-label">Username</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="username" placeholder="username"/>
			</div>
		</div>
		<div class="form-group row">
			<label for="password" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
				<input class="form-control" type="password" name="password" placeholder="password"/>
			</div>
		</div>
		<input type="submit" class="btn btn-default" value="Log In">
	</form>
	<br>
	<div class="alert alert-info">Don't have an account? <a href="/signup" class="alert-link">Create one!</a></div>
</div>
-->

<div class="row">
	<div class="center">
		<h1>Sign In</h1>
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			{{#if error}} <div id="error" class="alert bg-danger">Error: {{error}}</div> {{/if}}
			<form method="POST" id="loginForm" action="">
				<div class="form-group input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input class="form-control" type="text" name="username" placeholder="username"/>
				</div>
				<div class="form-group input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input class="form-control" type="password" name="password" placeholder="password"/>
				</div>
				<div class="form-group">
					<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
					<input type="submit" class="btn btn-info btn-block" value="Login"/>
				</div>
			</form>
			<small class="text-muted">
Don't have an account? <a href="/user/signup" class="alert-link">Create one!</a></small>
		</div>
	</div>
</div>
